*{margin: 0;padding: 0;}
a{text-decoration: none;color: black;}
ul{list-style-type: none;}
button{cursor: pointer;}
img {vertical-align: middle;}
body{font-size: 16px;background-color: rgb(248, 248, 248);font-family: Arial, Helvetica, sans-serif;}

/*top*/
header#wrap-header .container .header .top{width:100%;height: 70px;display: flex;}
header#wrap-header .container .header .top a{color: white;}
header#wrap-header .container .header .top .logo{width: 15%;}
header#wrap-header .container .header .top .input{padding: 22px 0 22px 22px;}
header#wrap-header .container .header .top .input input{width: 300px;height: 27px;padding: 10px;}
header#wrap-header .container .header .top .button-search{padding: 22px 0;}
header#wrap-header .container .header .top .button-search button{height: 27px;width: 80px;color: white;background-color: teal;border: none;border-radius: 0 5px 5px 0;}
header#wrap-header .container .header .top .button-search button:hover{background-color: turquoise;}
header#wrap-header .container .header .top .button-gioHang{padding: 22px 0 22px 300px;}
header#wrap-header .container .header .top .button-gioHang button{height: 30px;width: 100px;color:white;background-color: teal;border: none;border-radius: 5px;}
header#wrap-header .container .header .top .button-gioHang button:hover{background-color: turquoise;}
header#wrap-header .container .header .top .button-taiKhoan{padding: 22px 0 22px 50px;}
header#wrap-header .container .header .top .button-taiKhoan button{height: 30px;width: 100px;color:white;background-color:teal;border: none;border-radius: 5px;}
header#wrap-header .container .header .top .button-taiKhoan button:hover{background-color: turquoise;}
.fixed{position: fixed;z-index: 10000;top: 0px;width: 100%;}
/*top*/

/*----------------midder---------------*/
.main-container {
	width: 1150px;
	height: 3550px;
	margin: 0px auto;
	box-sizing: border-box;
	padding-top: 20px;
}

/*content1*/
.content1 {
	width: 1150px;
	height: 650px;
}
/*left*/
.content1 .left{
	width: 850px;
	height: 100%;
	float: left;
	text-align: justify;
}
.content1 .left h2{
	font-size: 24px;
}
/*top-left*/
.content1 .top-left{
	width: 880px;
	height: 350px;
}
/*slider*/
.content1 .top-left .Slider{
	width: 500px;
	height: 350px;
	position: relative;
	float: left;
}
.content1 .top-left .Slider img{
	width: 500px;
	height: 350px;
}
.content1 .top-left .Slider .title{
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0%;
	left: 0%;
	background-color: rgba(92, 88, 88, 0.5);;
	color: white;
	text-align: center;
}
.content1 .top-left .Slider .title span{
	font-size: 20px;
	line-height: 30px;
}
.content1 .top-left .Slider .title span:hover{
	text-decoration: underline ;
}
.content1 .top-left .Slider #prev{
	text-transform: uppercase;
	top: 150px;
	left: 0px;
	position: absolute;
}
.content1 .top-left .Slider #next{
	text-transform: uppercase;
	top: 150px;
	right: 0px;
	position: absolute;
}

/*--------End-slider----------*/
/*new1*/
.content1 .top-left .new1{
	width: 300px;
	height: 350px;
	float: left;
	padding-left: 20px;
}
.content1 .top-left .new1 p{
	font-weight: bold;
	text-align: left;
	line-height: 1.4;
	padding-top: 10px;
}
.content1 .top-left p:hover{
	color: rgb(11, 92, 92);
}
/*--------End-new1--------*/
/*--------End-top-left--------*/

/*bot-left*/
.content1 .bot-left{
	width: 850px;
	height: 280px;
}
/*new2*/
.content1 .bot-left .new2{
	width: 250px;
	height: 250px;
	float: left;
	padding-left: 20px;
	padding-top: 20px;
}
/*--------End-new2--------*/
/*new3*/
.content1 .bot-left .new3{
	width: 250px;
	height: 250px;
	float: left;
	padding-left: 20px;
	padding-top: 20px;
}

/*--------End-new3--------*/

/*new4*/
.content1 .bot-left .new4{
	width: 250px;
	height: 250px;
	float: left;
	padding-left: 20px;
	padding-top: 20px;
}
/*--------End-new4--------*/
.content1 .bot-left  p{
	font-weight: bold;
	text-align: left;
	line-height: 20px;
	padding-top: 10px;
}
.content1 .bot-left p:hover{
	color: rgb(11, 92, 92);
}
/*----------End-bot-left-------------*/
/*---------End left--------*/

/*right*/
.content1 .right{
	width: 300px;
	height: 100%;
	float: left;
	padding-top: 28px;
}
/*---------right--------*/

/*--------End-content1--------*/
/*content2*/
.content2{
	width: 1150px;
	height: 2370px;
	padding-top: 30px;
	font-size: 15px;
	display: flex;
}
/*left*/
.content2 .left-content2{
	width: 850px;
	height: 100%;
	float: left;
	text-align: justify;
	line-height: 20px;
}
/*NEWS moi nhat*/
.content2 .left-content2 .container{
	width: 100%;
	height: 190px;
	display: flex;
	margin-top: 20px;
	border-bottom: 1px solid #dddfe0;
}
.content2 .left-content2 .container .left{
	width: 260px;
	height: 180px;
}
.content2 .left-content2 .container .left img{
	width: 100%;
	height: 100%;
}
.content2 .left-content2 .container .right{
	width: 550px;
	height: 180px;
	margin-left: 30px;
}
.content2 .left-content2 .container .right .title1{
	width: 100%;
	height: 60px;
	margin-top: 10px ;
}
.content2 .left-content2 .container .right .title1 h2:hover{
	color: teal;
}
.content2 .left-content2 .container .right .date{
	width: 100%;
	height: 40px;
}
.content2 .left-content2 .container .right .text{
	width: 100%;
	height: 70px;
}
/*--------End-NEWS moi nhat--------*/
/*-----------End-left----------*/
/*right*/
.content2 .right-content2{
	width: 300px;
	height: 100%;
}
/*-----------End-right----------*/
/*--------End-content2--------*/
/*page-transfer*/
.pages-transfer{
	width: 100%;
	height: 70px;
	float: left;
}
.pages-transfer .container{
	width: 310px;
	height: 50px;
	display: flex;
	margin-left:550px;
}
.pages-transfer .container .click-button ul li{
	width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    float: left;
	position: relative;
	cursor: pointer;
}
.pages-transfer .container .click-button ul li.active{
	border: 1px solid teal;
}
.pages-transfer .container .click-button ul li:hover{
	border: 1px solid teal;
}
.content6{width: 1200px;height: 300px;margin: auto;margin-top: 40px;background-color: white;float: left;}
.content6 .top{width: 90%;margin: auto;border-bottom: 1px solid rgb(214, 211, 212);padding: 20px 0 15px 0;}
.content6 .top p{text-align: center;font-size: 14px;}
.content6 .bot{display: flex;}
.content6 .bot .box-item-text{width: 200px;height: 190px;margin:20px 10px 0 27px;}
.content6 .bot .box-item-text .box-item-top{width: 100%;height: 60%;}
.content6 .bot .box-item-text .box-item-bot{font-size: 14px;width: 90%;height: 40%;margin: auto;}
.content6 .bot .box-item-text .box-item-bot p.top-text{font-size: 14px;text-align: center;color: rgb(53, 47, 47);padding: 10px 0 0 0;}
.content6 .bot .box-item-text .box-item-bot p.bot-text{font-size: 12px;text-align: center;padding: 15px 0;}
/*---------End-page-transfer------*/
/*----------------End-midder---------------*/


/*top*/
footer#wrap-footer .container .footer .top{width: 100%;margin: auto;background-color: teal;}
footer#wrap-footer .container .footer .top .danhngon{width: 900px;margin: auto;position: relative;}
footer#wrap-footer .container .footer .top .danhngon p.cus-name{text-align: center;padding: 20px 0;color: white;}
footer#wrap-footer .container .footer .top .danhngon p.cus-quote{text-align: center;padding-bottom: 20px;color: white;}
/*top*/    

/*bot*/
footer#wrap-footer .container .footer .bot{width: 1200px;height: 250px;margin: auto;}
footer#wrap-footer .container .footer .bot .lienhe{display: flex;}
footer#wrap-footer .container .footer .bot .lienhe .thongtinhuuich{width: 33.3%;padding: 50px 50px ;}
footer#wrap-footer .container .footer .bot .lienhe .thongtinhuuich p{color: teal;}
footer#wrap-footer .container .footer .bot .lienhe .thongtinhuuich ul{margin-top: 10px;}
footer#wrap-footer .container .footer .bot .lienhe .thongtinhuuich ul li{margin-top: 5px;}
footer#wrap-footer .container .footer .bot .lienhe .thongtinhuuich ul li a{font-size: 13px;color: teal;}
footer#wrap-footer .container .footer .bot .lienhe .thongtinhuuich ul li a#fb{font-size: 17px;}
footer#wrap-footer .container .footer .bot .lienhe .thongtinhuuich ul li a:hover{color: turquoise;}
footer#wrap-footer .container .footer .bot .lienhe .thongtinhuuich i#pt{font-size: 35px;padding: 15px;}

footer#wrap-footer .container .footer .bot .lienhe .thongtinhuuich#tt1{padding-left: 80px;}
footer#wrap-footer .container .footer .bot .lienhe .thongtinhuuich#tt2{padding-left: 50px;}
footer#wrap-footer .container .footer .bot .lienhe .thongtinhuuich#tt3{padding-left: 20px;}
footer#wrap-footer .container .footer .bot .banquyen{border-top: 1px solid rgb(221, 183, 183) ;width: 500px;margin: auto;margin-top: 20px;padding-top: 10px;}
footer#wrap-footer .container .footer .bot .banquyen p{text-align: center;}
/*bot*/